<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #formdata="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" ngModel name="name" class="form-control" required #name>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" ngModel name="amount" class="form-control" required pattern="^[0-9]+[1-9]*$" #amount>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" [disabled]="formdata.invalid" type="submit">Add</button>
                    <button class="btn btn-danger" type="button" (click)="onDeleteIngrident()" *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>