<div class="row">
    <div class="col-xs-12">
        <img [src]="recepie.imagePath" alt="" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a appOpenMenu>
            <button class="btn btn-primary dropdown-toggle">Manage<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="toShoppingList()">To Shopping-list</a></li>
                <li><a style="cursor: pointer;" (click)="onEdit()">Edit Recepie</a></li>
                <li><a style="cursor: pointer;" (click)="onDelete()">Delete Recepie</a></li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{recepie.name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{recepie.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul *ngFor="let ingrident of recepie.ingridents">
            <li>{{ingrident.name}} ({{ingrident.amount}})</li>
        </ul>
    </div>
</div>