<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive" style="max-width: 50px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#">
            <button class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping-list</a></li>
                <li><a href="#">Edit Recepie</a></li>
                <li><a href="#">Delete Recepie</a></li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recepie Name</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recepie Descriptiion</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recepie Ingrident</p>
    </div>
</div>